.panel {
  width: auto;
  height: auto;
  margin: 0;
  position: absolute; /* Allows free movement */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Initial state: fully clipped (hidden) */
  clip-path: inset(0% 0% 100% 0%);
  overflow: hidden;
 
}

.cardContent {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  text-align: center;
  font-family: cozette;



}


