@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'cozette';
  src: url('/fonts/CozetteVector.ttf') format('truetype');

}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-family: cozette;
  font-size: 18px;
  user-select: none;

}

@layer utilities {
  .card-wrapper::before {
    background: conic-gradient(
      theme("colors.globalColor1"),
      theme("colors.globalColor2"),
      theme("colors.globalColor3"),
      theme("colors.globalColor4"),
      theme("colors.globalColor5"),
      theme("colors.globalColor4"),
      theme("colors.globalColor3"),
      theme("colors.globalColor2"),
      theme("colors.globalColor1")
    );

    width: calc(var(--before-width) + 50%);
    height: calc(var(--before-height) + 50%);
    left: calc(var(--before-left) - 25%);
    top: calc(var(--before-top) - 25%);
  }
}
